/*
Font-Family: 'Abril Fatface', Cursive;
Font-Size: 48px;
Font-Family: 'Poppins', Sans-Serif;
Font-Size: 14px;
*/


* {
	box-sizing: border-box;
}

body {
	Font-Family: 'Poppins', Sans-Serif;
	font-size: 20px;
}
header {
	background-image: url(C:\Users\User\Desktop\assignment3\images\martin.jpg);
	background-size: cover;
	width: 100vw;
}
header.grid-header {
	display: flex;
	justify-content: space-between;
}
<p class="intro"><span>I</span>am happy to join with you today in what will go down in history as the greatest demonstration for freedom in the history of our nation.</p>
h1, h2 {
	Font-Family: 'Abril Fatface', Cursive;
}

h1 {
	font-size: 70px;
	margin: 0;
	writing-mode: sideways-lr;
text-orientation: mixed;
}

h2 {
	font-size: 30px;
}

p {
	line-height: 32px;
}

main {
	width: 80%;
	margin: auto;
}