/*
Font-Family: 'Abril Fatface', Cursive;
Font-Size: 48px;
Font-Family: 'Poppins', Sans-Serif;
Font-Size: 14px;
*/


* {
	box-sizing: border-box;
}

body {
	Font-Family: 'Poppins', Sans-Serif;
	font-size: 20px;
}

h1, h2 {
	Font-Family: 'Abril Fatface', Cursive;
}

h1 {
	font-size: 70px;
	margin: 0;
	writing-mode: sideways-lr;
text-orientation: mixed;
}

h2 {
	font-size: 30px;
}

p {
	line-height: 32px;
}

main {
	width: 80%;
	margin: auto;
}