/*
Font-Family: 'Abril Fatface', Cursive;
Font-Size: 48px;
Font-Family: 'Poppins', Sans-Serif;
Font-Size: 14px;
*/


* {
	box-sizing: border-box;
}

body {
	Font-Family: 'Poppins', Sans-Serif;
	font-size: 20px;
}
header {
	background-image: url(images/martin.jpg);
	background-size: cover;
	width: 100vw;
}
header.grid-header {
	display: flex;
	justify-content: space-between;
}

h1, h2 {
	Font-Family: 'Abril Fatface', Cursive;
	color: ivory;
}

h1 {
	font-size: 80px;
	margin: 0;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	padding: 20px;

}

h2 {
	font-size: 50px;
	margin-top: 400px;
	margin-right: 40px;
	text-align: right;
}

p {
	line-height: 32px;
}

main {
	width: 80%;
	margin: auto;
}
.intro span {
	font-size: 70px; 
	Font-Family: 'Abril Fatface', Cursive;
	color:olive;